body{
    background-size: contain;
}

canvas{
    border-style: double;
    animation-name: exemplo;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes exemplo{
    from{box-shadow: 1px 1px 38px black;}
    to{
        box-shadow: 1px 1px 38px red;
    }
}